In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
df = pd.read_csv(r'Earthquakes in pakistan.csv', encoding='latin1')
df.head()

,Date,"Locality, district, or province",Mag.,MMI,Deaths,Injuries,Notes
0,2022-\n06-24,Khyber Pakhtunkhwa,4.2\nMw,VII,NaN,NaN,Five killed in Afghanistan
1,2022-\n06-21,"Durand Line, Khost Province, Afghanistan",6.0\nMw,VIII,13,27,"Heavy damage. Over 1,100 killed in Afghanistan."
2,2022-\n05-06,"Khuzdar, Balochistan",5.2\nMw,VI,NaN,1,Moderate damage
3,2022-\n03-16,Gilgit- Baltistan,5.1\nMw,VII,1,9,Minor damage
4,2021-\n12-27,Gilgit- Baltistan,5.2\nMw,V,NaN,9,Severe damage

In [50]:
df.rename(columns={'Locality, district, or province':'Locality'},inplace=True)
df

,Date,Locality,Mag.,MMI,Deaths,Injuries,Notes
0,2022-\n06-24,Khyber Pakhtunkhwa,4.2\nMw,VII,NaN,NaN,Five killed in Afghanistan
1,2022-\n06-21,"Durand Line, Khost Province, Afghanistan",6.0\nMw,VIII,13,27,"Heavy damage. Over 1,100 killed in Afghanistan."
2,2022-\n05-06,"Khuzdar, Balochistan",5.2\nMw,VI,NaN,1,Moderate damage
3,2022-\n03-16,Gilgit- Baltistan,5.1\nMw,VII,1,9,Minor damage
4,2021-\n12-27,Gilgit- Baltistan,5.2\nMw,V,NaN,9,Severe damage
5,2021-\n10-07,"Harnai, Balochistan",5.9\nMw,VII,27,300,Severe damage
6,2019-\n10-06,"New Mirpur, Azad Kashmir",3.6\nMw,IV,1,10,Casualties due to a house collapse
7,2019-\n09-24,"New Mirpur, Azad Kashmir",5.6\nMw,VII,40,852,Severe
8,2018-\n01-31,"Lasbela, Balochistan",4.7\nMw,V,1,9,NaN
9,2018-\n01-30,Badakhshan,6.1\nMw,NaN,1,9-11,NaN
10,2015-\n12-25,Gilgit- Baltistan Khyber Pakhtunkhwa,6.3\nMw,V,4,100,NaN
11,2015-\n10-26,Badakhshan,7.5\nMw,VII,399,"2,536",NaN
12,2015-\n07-24,Islamabad,5.1\nMw,V,3,NaN,NaN
13,2014-\n05-08,Sindh,4.5\nMw,NaN,2,50,NaN
14,2013-\n09-28,"Awaran District, Balochistan",6.8\nMw,VII,22,NaN,Aftershock.
15,2013-\n09-24,"Awaran District, Balochistan",7.7\nMw,IX,825,700,NaN
16,2013-\n04-16,Balochistan,7.7\nMw,VIII,34,105,NaN
17,2011-\n01-18,"Dalbandin, Balochistan",7.2\nMw,VI,3,some,NaN
18,2010-\n10-10,"Haripur, Northwest",5.2\nMw,V,1,15,Moderate damage
19,2000-01-01,Frontier Province,NaN,NaN,NaN,NaN,NaN
20,2008-\n10-29,"Ziarat District, Balochistan",6.4\nMw,NaN,215,200,NaN
21,2005-\n10-08,"Azad Kashmir, Balakot",7.6\nMw,XI,"86,000\n87,351","69,000\n75,266","Extreme damage in Azad Kashmir, Balakot town a..."
22,2004-\n02-14,"Battagram, Khyber Pakhtunkhwa",5.5\nMw,VIII,24,63,NaN
23,2002-\n11-02,"Battagram, Khyber Pakhtunkhwa",5.4\nMw 6.3\nMw,VIII,41,168,Doublet
24,1997-\n02-27,Balochistan,7.0\nMw,VIII,57,NaN,NaN
25,1992-\n05-20,"Kohat Division, North West Frontier",6.0\nMw,VII,36,100,Moderate
26,1983-\n12-31,Gilgit- Baltistan,7.2\nMw,VII,1226,60483,Severe
27,1981-\n12-09,Gilgit- Baltistan,5.9\nMw,NaN,220,NaN,NaN
28,1974-\n12-28,Khyber Pakhtunkhwa,6.2\nMw,NaN,"5,300","17,000",NaN
29,1972-\n09-03,"Peshawar, Khyber Pakhtunkhwa",6.2\nMw,VIII,100,NaN,NaN
30,1945-\n11-28,"Makran Coast, British Baluchistan",8.1\nMw,X,300\n400,NaN,Tsunami
31,1935-\n05-31,"Ali Jaan, Balochistan",7.7,X,"30,000\n60,000",NaN,NaN
32,1931-\n08-27,"Mach, Balochistan",7.4,NaN,NaN,NaN,NaN
33,1931-\n08-24,"Sharigh Valley, Balochistan",7,NaN,NaN,NaN,NaN
34,1909-\n10-21,"Sibi, Balochistan",7,NaN,100,NaN,NaN
35,1892-\n12-20,"Qilla Abdullah, Balochistan",6.8,NaN,NaN,NaN,Chaman Fault
36,1885-\n05-30,"Srinagar, Kashmir",6.3\n6.8,VIII,"3,000",NaN,NaN
37,1865-,Peshawar,6,NaN,NaN,NaN,NaN
38,01-22,NaN,NaN,NaN,NaN,NaN,NaN
39,1852-\n01-24,"Kahan, Balochistan",8,NaN,NaN,NaN,NaN
40,1827-\n09-24,"Lahore, Punjab",7.8,NaN,"1,000",NaN,NaN
41,1819-\n06-16,"Allahbund, Sindh",7.7\n8.2\nMw,XI,">1,543",NaN,Tsunami
42,1668-\n05-02,"Shahbandar, Sindh",7.6,NaN,"50,000",NaN,NaN
43,1555-\n09-,Kashmir,7.6\n8.0\nMw,NaN,"600\n60,000",NaN,NaN

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      43 non-null     object
 1   Locality  43 non-null     object
 2   Mag.      42 non-null     object
 3   MMI       28 non-null     object
 4   Deaths    34 non-null     object
 5   Injuries  23 non-null     object
 6   Notes     17 non-null     object
dtypes: object(7)
memory usage: 2.5+ KB

In [43]:
for i in df['Date']:
    df['Date']= i.replace('\n','')
df['Date']

0     1555-09-
1     1555-09-
2     1555-09-
3     1555-09-
4     1555-09-
5     1555-09-
6     1555-09-
7     1555-09-
8     1555-09-
9     1555-09-
10    1555-09-
11    1555-09-
12    1555-09-
13    1555-09-
14    1555-09-
15    1555-09-
16    1555-09-
17    1555-09-
18    1555-09-
19    1555-09-
20    1555-09-
21    1555-09-
22    1555-09-
23    1555-09-
24    1555-09-
25    1555-09-
26    1555-09-
27    1555-09-
28    1555-09-
29    1555-09-
30    1555-09-
31    1555-09-
32    1555-09-
33    1555-09-
34    1555-09-
35    1555-09-
36    1555-09-
37    1555-09-
38    1555-09-
39    1555-09-
40    1555-09-
41    1555-09-
42    1555-09-
43    1555-09-
Name: Date, dtype: object

In [47]:
df['Date'] = df['Date'].fillna('2000-01-01')

In [48]:
df['Date']

0     2022-\n06-24
1     2022-\n06-21
2     2022-\n05-06
3     2022-\n03-16
4     2021-\n12-27
5     2021-\n10-07
6     2019-\n10-06
7     2019-\n09-24
8     2018-\n01-31
9     2018-\n01-30
10    2015-\n12-25
11    2015-\n10-26
12    2015-\n07-24
13    2014-\n05-08
14    2013-\n09-28
15    2013-\n09-24
16    2013-\n04-16
17    2011-\n01-18
18    2010-\n10-10
19      2000-01-01
20    2008-\n10-29
21    2005-\n10-08
22    2004-\n02-14
23    2002-\n11-02
24    1997-\n02-27
25    1992-\n05-20
26    1983-\n12-31
27    1981-\n12-09
28    1974-\n12-28
29    1972-\n09-03
30    1945-\n11-28
31    1935-\n05-31
32    1931-\n08-27
33    1931-\n08-24
34    1909-\n10-21
35    1892-\n12-20
36    1885-\n05-30
37           1865-
38           01-22
39    1852-\n01-24
40    1827-\n09-24
41    1819-\n06-16
42    1668-\n05-02
43      1555-\n09-
Name: Date, dtype: object

In [49]:
from datetime import datetime
for i in df['Date']:
    # Your date string
    date_string = i

    # Remove the newline character
    date_string = date_string.replace('\n', '')

    # Convert to a datetime object
    date_object = datetime.strptime(date_string, '%Y-%m-%d')

    # Print the date in a normal format
    print(date_object.strftime('%Y-%m-%d'))
df['Date']

2022-06-24
2022-06-21
2022-05-06
2022-03-16
2021-12-27
2021-10-07
2019-10-06
2019-09-24
2018-01-31
2018-01-30
2015-12-25
2015-10-26
2015-07-24
2014-05-08
2013-09-28
2013-09-24
2013-04-16
2011-01-18
2010-10-10
2000-01-01
2008-10-29
2005-10-08
2004-02-14
2002-11-02
1997-02-27
1992-05-20
1983-12-31
1981-12-09
1974-12-28
1972-09-03
1945-11-28
1935-05-31
1931-08-27
1931-08-24
1909-10-21
1892-12-20
1885-05-30

ValueError: time data '1865-' does not match format '%Y-%m-%d'