In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('TATA.xlsx')

In [3]:
df.head()

,SlrName,OrderId,TransactionId,Ussid,SKU,ProductName,CustomerId,Channel,OrderDate,P1SlaveId,...,P1LogisticsID,P1LOGISTICNAME,ReturnLogisticsID,ShippingCity,ShippingState,ShippingPincode,BillingCity,BillingState,BillingPincode,OrderStatus
0,Aureole Atelier Private Limited,'230527-026-537061','125260035876948','125260MAYS1020204',MAYS-1020-204,Mayhem MAYS-1020-204 Grey Aviatorlenscoloreyew...,1030631091,Web,00:20:14,125260-AANOIDA,...,DL,Delhivery,NaN,Nanded,Maharashtra,431605,Nanded,Maharashtra,431605,Closed on cancellation
1,Aureole Atelier Private Limited,'230107-024-259584','125260032491445','125260MAYS1020204',MAYS-1020-204,Mayhem MAYS-1020-204 Grey Aviatorlenscoloreyew...,1029804416,Web,00:12:44,125260-AANOIDA,...,DL,Delhivery,NaN,Gandhinagar,Gujarat,382421,Gandhinagar,Gujarat,382421,Delivered
2,Aureole Atelier Private Limited,'230404-025-694594','125260034725233','125260MAYS1020204',MAYS-1020-204,Mayhem MAYS-1020-204 Grey Aviatorlenscoloreyew...,1046637229,Web,00:29:47,125260-AANOIDA,...,BD,Blue Dart,NaN,Chennai,Tamil Nadu,600126,Chennai,Tamil Nadu,600126,Delivered
3,Aureole Atelier Private Limited,'230509-026-203436','125260035391265','125260MAYS1020204',MAYS-1020-204,Mayhem MAYS-1020-204 Grey Aviatorlenscoloreyew...,1049786162,Mobile,00:07:14,125260-AANOIDA,...,DL,Delhivery,NaN,PORVORIM,Goa,403521,PORVORIM,Goa,403521,Delivered
4,Aureole Atelier Private Limited,'231215-029-986594','125260040565269','125260MAYS1020204',MAYS-1020-204,Mayhem MAYS-1020-204 Grey Aviatorlenscoloreyew...,1003451931,Mobile,00:17:56,125260-AANOIDA,...,XC,XpressBees,DL,Ganjam,Odisha,760005,Ganjam,Odisha,760005,Refund in process

In [18]:
df['ShippingCharge'].unique()

array([ 0, 29, 49,  5, 15, 10,  2,  3,  1, 69,  4], dtype=int64)

In [17]:
df.sample(10)

,SlrName,OrderId,TransactionId,Ussid,SKU,ProductName,CustomerId,Channel,OrderDate,P1SlaveId,...,P1LogisticsID,P1LOGISTICNAME,ReturnLogisticsID,ShippingCity,ShippingState,ShippingPincode,BillingCity,BillingState,BillingPincode,OrderStatus
119,Aureole Atelier Private Limited,'230413-025-840202','125260034910770','125260MAYS8017109',MAYS-8017-109,Mayhem MAYS-8017-109 Grey Rectangular Sungless...,1030085997,Mobile,00:07:32,125260-AANOIDA,...,BD,Blue Dart,NaN,Pune,Maharashtra,411041,Pune,Maharashtra,411041,RTO_DELIVERED
93,Aureole Atelier Private Limited,'230924-028-663398','125260038885106','125260MAYS1051004',MAYS-1051-004,Mayhem MAYS-1051-004 Grey Aviatorlenscoloreyew...,1013925235,Mobile,00:20:25,125260-AANOIDA,...,DL,Delhivery,SF,Dhenkanal,Odisha,759122,Dhenkanal,Odisha,759122,QC PASS
102,Aureole Atelier Private Limited,'230815-028-088943','125260038101588','125260MAYS1052205',MAYS-1052-205,Mayhem MAYS-1052-205 Brown Aviatorlenscoloreye...,1006721400,Mobile,00:38:29,125260-AANOIDA,...,DL,Delhivery,XC,New Delhi,Delhi,110085,New Delhi,Delhi,110085,QC PASS
99,Aureole Atelier Private Limited,'230408-025-747056','125260034793876','125260MAYS1051006',MAYS-1051-006,Mayhem MAYS-1051-006 Black Aviatorlenscoloreye...,1039521420,Mobile,00:45:31,125260-AANOIDA,...,DL,Delhivery,NaN,Dharmapuri,Tamil Nadu,636705,Dharmapuri,Tamil Nadu,636705,Delivered
76,Aureole Atelier Private Limited,'231010-028-906322','125260039199715','125260MAYS1043104',MAYS-1043-104,Mayhem MAYS-1043-104 Purple Butterfly Sungless...,1054326151,Mobile,00:12:27,125260-AANOIDA,...,DL,Delhivery,EK,Chengalpattu,Tamil Nadu,600127,Chengalpattu,Tamil Nadu,600127,Return Delivered to Seller
9,Aureole Atelier Private Limited,'230323-025-517088','125260034496299','125260MAYS1020205',MAYS-1020-205,Mayhem MAYS-1020-205 Purple Aviatorlenscolorey...,1007020691,Mobile,00:38:07,125260-AANOIDA,...,DL,Delhivery,EE,Ahmed Nagar,Maharashtra,414103,Ahmed Nagar,Maharashtra,414103,Return Delivered to Seller
180,Aureole Atelier Private Limited,'230417-025-895914','125260034982498','125260MAYS8019003',MAYS-8019-003,Mayhem MAYS-8019-003 Brown Rectangular Sungles...,1042270154,Mobile,00:43:02,125260-AANOIDA,...,DL,Delhivery,NaN,Rajkot,Gujarat,360002,Rajkot,Gujarat,360002,Delivered
53,Aureole Atelier Private Limited,'230117-024-487207','125260032969989','125260MAYS1040162',MAYS-1040-162,Mayhem MAYS-1040-162 Pink Butterfly Sunglesses...,1046047648,Mobile,00:26:58,125260-AANOIDA,...,DL,Delhivery,XC,Kalyan,Maharashtra,421501,Kalyan,Maharashtra,421501,QC PASS
62,Aureole Atelier Private Limited,'240112-030-525937','125260041377358','125260MAYS1042104',MAYS-1042-104,Mayhem MAYS-1042-104 Purple Butterfly Sungless...,1005011430,Web,00:53:35,125260-AANOIDA,...,XC,XpressBees,NaN,Hyderabad,Telangana,500083,Hyderabad,Telangana,500083,Delivered
90,Aureole Atelier Private Limited,'230423-025-977727','125260035088440','125260MAYS1050202',MAYS-1050-202,Mayhem MAYS-1050-202 Grey Aviatorlenscoloreyew...,1045540839,Mobile,00:13:22,125260-AANOIDA,...,XC,XpressBees,SF,KANAYANNUR,Kerala,682033,KANAYANNUR,Kerala,682033,Return Delivered to Seller

In [5]:
df.shape

(223, 25)

In [9]:
df.columns

Index(['SlrName', 'OrderId', 'TransactionId', 'Ussid', 'SKU', 'ProductName',
       'CustomerId', 'Channel', 'OrderDate', 'P1SlaveId', 'parentproductName',
       'Price', 'ShippingCharge', 'IsCOD', 'FulfillmentType', 'P1LogisticsID',
       'P1LOGISTICNAME', 'ReturnLogisticsID', 'ShippingCity', 'ShippingState',
       'ShippingPincode', 'BillingCity', 'BillingState', 'BillingPincode',
       'OrderStatus '],
      dtype='object')

In [8]:
test=df.groupby('ProductName')
test['Price'].sum().sort_values(ascending=False).head()

ProductName
Mayhem MAYS-8019-003 Brown Rectangular Sunglesseslenscoloreyewearbrownsizeeyewearlarge       59228
Mayhem MAYS-8019-003 Brown Rectangular Sunglesseslenscoloreyewearbrownsizeeyewearfreesize    20332
Mayhem MAYS-1022-201 Brown Rectangular Sunglesseslenscoloreyewearbrownsizeeyewearfreesize    11501
Mayhem MAYS-1042-104 Purple Butterfly Sunglesseslenscoloreyewearpurplesizeeyewearlarge       11258
Mayhem MAYS-8017-109 Grey Rectangular Sunglesseslenscoloreyeweargreysizeeyewearfreesize       5394
Name: Price, dtype: int64

In [10]:
test['Price'].sum().sum()

197264

In [13]:
(test['Price'].sum().sort_values(ascending=False).head(1)[0]/test['Price'].sum().sum())*100

30.024738421607594

In [15]:
(test['Price'].sum().sort_values(ascending=False).head()[1]/test['Price'].sum().sum())*100

10.306999756671264

In [16]:
(test['Price'].sum().sort_values(ascending=False).head()[2]/test['Price'].sum().sum())*100

5.830257928461351

In [23]:
df.groupby('ProductName')['BillingSt'].value_counts().sort_values(ascending=False)

ProductName                                                                                BillingState
Mayhem MAYS-8019-003 Brown Rectangular Sunglesseslenscoloreyewearbrownsizeeyewearlarge     Maharashtra       25
                                                                                           Karnataka         12
Mayhem MAYS-8019-003 Brown Rectangular Sunglesseslenscoloreyewearbrownsizeeyewearfreesize  Maharashtra        4
                                                                                           Andhra Pradesh     4
Mayhem MAYS-8019-003 Brown Rectangular Sunglesseslenscoloreyewearbrownsizeeyewearlarge     Telangana          4
                                                                                                             ..
Mayhem MAYS-1039-103 Brown Bug Eye Sunglesseslenscoloreyewearbrownsizeeyewearlarge         Goa                1
                                                                                           Karnataka          1
Mayhem MAYS-1039-103 Brown Bug Eye Sunglesseslenscoloreyewearbrownsizeeyewearfreesize      Gujarat            1
Mayhem MAYS-1025-205L Grey Aviatorlenscoloreyeweargreysizeeyewearlarge                     Uttar Pradesh      1
Mayhem MAYS-9008-060 Purple Square Sunglesseslenscoloreyewearpurplesizeeyewearfreesize     Uttar Pradesh      1
Name: count, Length: 128, dtype: int64

In [51]:
df.groupby('OrderStatus ').size()

OrderStatus
Closed on cancellation           19
Delivered                       138
Order cancelled                   2
QC PASS                          25
QC failed                         1
RTO_DELIVERED                    19
RTO_QC_PASS                       1
Refund closed                     4
Refund in process                 3
Return Cancelled By Customer      2
Return Delivered to Seller        9
dtype: int64

In [32]:
#df.groupby('OrderStatus ')['OrderStatus '].value_counts().sort_values(ascending=False)

In [27]:
df.groupby('OrderStatus ')['BillingCity'].value_counts().sort_values(ascending=False)

OrderStatus                 BillingCity
Delivered                   Pune           14
                            Chennai         7
                            Hyderabad       7
                            Bangalore       5
QC PASS                     Bangalore       4
                                           ..
Delivered                   BHOKARDAN       1
                            Anantapur       1
                            Akhnoor         1
                            Ahmedabad       1
Return Delivered to Seller  Tulsipur        1
Name: count, Length: 158, dtype: int64

In [50]:
df.groupby('ProductName')[['BillingCity','Price']].value_counts().sort_values(ascending=False)

ProductName                                                                             BillingCity  Price
Mayhem MAYS-8019-003 Brown Rectangular Sunglesseslenscoloreyewearbrownsizeeyewearlarge  Pune         884      5
                                                                                        Hyderabad    884      4
Mayhem MAYS-1042-104 Purple Butterfly Sunglesseslenscoloreyewearpurplesizeeyewearlarge  Chennai      749      3
Mayhem MAYS-8019-003 Brown Rectangular Sunglesseslenscoloreyewearbrownsizeeyewearlarge  Delhi        884      3
                                                                                        Nagpur       884      3
                                                                                                             ..
Mayhem MAYS-1043-104 Purple Butterfly Sunglesseslenscoloreyewearpurplesizeeyewearlarge  Chennai      942      1
                                                                                        Cuttack      942      1
                                                                                        Jaipur       942      1
Mayhem MAYS-1043-160 Purple Butterfly Sunglesseslenscoloreyewearpurplesizeeyewearlarge  Bilaspur     942      1
Mayhem MAYS-9008-060 Purple Square Sunglesseslenscoloreyewearpurplesizeeyewearfreesize  Mumbai       870      1
Name: count, Length: 195, dtype: int64

In [53]:
order_share = df.groupby('Channel').size()
order_share

Channel
Mobile    182
Web        41
dtype: int64

In [61]:
df.groupby('OrderStatus ').nunique()

,SlrName,OrderId,TransactionId,Ussid,SKU,ProductName,CustomerId,Channel,OrderDate,P1SlaveId,...,FulfillmentType,P1LogisticsID,P1LOGISTICNAME,ReturnLogisticsID,ShippingCity,ShippingState,ShippingPincode,BillingCity,BillingState,BillingPincode
OrderStatus,,,,,,,,,,,,,,,,,,,,,
Closed on cancellation,1,19,19,8,8,9,18,2,19,1,...,1,3,3,0,18,10,18,18,10,18
Delivered,1,133,134,32,32,38,130,2,130,1,...,1,3,3,0,89,21,126,89,21,126
Order cancelled,1,2,2,1,1,2,2,1,2,1,...,1,1,1,0,1,1,2,1,1,2
QC PASS,1,21,23,16,16,17,21,2,21,1,...,1,3,3,5,16,12,21,16,12,21
QC failed,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
RTO_DELIVERED,1,19,19,11,11,12,19,2,19,1,...,1,2,2,0,15,9,17,15,9,17
RTO_QC_PASS,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,1,1,1,1
Refund closed,1,4,4,3,3,3,4,2,4,1,...,1,1,1,3,4,4,4,4,4,4
Refund in process,1,2,3,2,2,2,2,1,2,1,...,1,2,2,1,2,1,2,2,1,2
Return Cancelled By Customer,1,2,2,2,2,2,2,1,2,1,...,1,1,1,2,2,1,2,2,1,2
Return Delivered to Seller,1,9,9,6,6,7,9,1,9,1,...,1,2,2,5,9,8,9,9,8,9

In [80]:
test_df = df.groupby('OrderStatus ')
test_df.size()

OrderStatus
Closed on cancellation           19
Delivered                       138
Order cancelled                   2
QC PASS                          25
QC failed                         1
RTO_DELIVERED                    19
RTO_QC_PASS                       1
Refund closed                     4
Refund in process                 3
Return Cancelled By Customer      2
Return Delivered to Seller        9
dtype: int64

In [64]:
test_df.get_group('Delivered')

,SlrName,OrderId,TransactionId,Ussid,SKU,ProductName,CustomerId,Channel,OrderDate,P1SlaveId,...,P1LogisticsID,P1LOGISTICNAME,ReturnLogisticsID,ShippingCity,ShippingState,ShippingPincode,BillingCity,BillingState,BillingPincode,OrderStatus
1,Aureole Atelier Private Limited,'230107-024-259584','125260032491445','125260MAYS1020204',MAYS-1020-204,Mayhem MAYS-1020-204 Grey Aviatorlenscoloreyew...,1029804416,Web,00:12:44,125260-AANOIDA,...,DL,Delhivery,NaN,Gandhinagar,Gujarat,382421,Gandhinagar,Gujarat,382421,Delivered
2,Aureole Atelier Private Limited,'230404-025-694594','125260034725233','125260MAYS1020204',MAYS-1020-204,Mayhem MAYS-1020-204 Grey Aviatorlenscoloreyew...,1046637229,Web,00:29:47,125260-AANOIDA,...,BD,Blue Dart,NaN,Chennai,Tamil Nadu,600126,Chennai,Tamil Nadu,600126,Delivered
3,Aureole Atelier Private Limited,'230509-026-203436','125260035391265','125260MAYS1020204',MAYS-1020-204,Mayhem MAYS-1020-204 Grey Aviatorlenscoloreyew...,1049786162,Mobile,00:07:14,125260-AANOIDA,...,DL,Delhivery,NaN,PORVORIM,Goa,403521,PORVORIM,Goa,403521,Delivered
7,Aureole Atelier Private Limited,'240104-030-354139','125260041115326','125260MAYS1020205',MAYS-1020-205,Mayhem MAYS-1020-205 Purple Aviatorlenscolorey...,1029012403,Mobile,00:54:50,125260-AANOIDA,...,XC,XpressBees,NaN,Pune,Maharashtra,412207,Pune,Maharashtra,412207,Delivered
10,Aureole Atelier Private Limited,'230521-026-401184','125260035692848','125260MAYS1020207',MAYS-1020-207,Mayhem MAYS-1020-207 Purple Aviatorlenscolorey...,1020700332,Web,00:29:12,125260-AANOIDA,...,BD,Blue Dart,NaN,Pune,Maharashtra,411057,Pune,Maharashtra,411057,Delivered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Aureole Atelier Private Limited,'230319-025-470012','125260034438289','125260MAYS8023109',MAYS-8023-109,Mayhem MAYS-8023-109 Grey Wraparound Sunglesse...,1036855877,Mobile,00:27:00,125260-AANOIDA,...,BD,Blue Dart,NaN,Chennai,Tamil Nadu,600044,Chennai,Tamil Nadu,600044,Delivered
213,Aureole Atelier Private Limited,'230323-025-523579','125260034504137','125260MAYS8023109',MAYS-8023-109,Mayhem MAYS-8023-109 Grey Wraparound Sunglesse...,1009190963,Mobile,00:42:16,125260-AANOIDA,...,DL,Delhivery,NaN,Pondicherry,Tamil Nadu,605005,Pondicherry,Tamil Nadu,605005,Delivered
214,Aureole Atelier Private Limited,'230423-025-986615','125260035099816','125260MAYS8023109',MAYS-8023-109,Mayhem MAYS-8023-109 Grey Wraparound Sunglesse...,1018024453,Mobile,00:27:39,125260-AANOIDA,...,DL,Delhivery,NaN,Rishikesh,Uttarakhand,249201,Rishikesh,Uttarakhand,249201,Delivered
216,Aureole Atelier Private Limited,'230308-025-322014','125260034255301','125260MAYS8026204',MAYS-8026-204,Mayhem MAYS-8026-204 Grey Rectangular Sungless...,1045657460,Mobile,00:43:30,125260-AANOIDA,...,DL,Delhivery,NaN,Lucknow,Uttar Pradesh,226001,Lucknow,Uttar Pradesh,226001,Delivered
218,Aureole Atelier Private Limited,'231204-029-818936','125260040357351','125260MAYS9008060',MAYS-9008-060,Mayhem MAYS-9008-060 Purple Square Sunglessesl...,1025601133,Mobile,00:04:51,125260-AANOIDA,...,XC,XpressBees,NaN,ERNAKULAM,Kerala,682301,ERNAKULAM,Kerala,682301,Delivered

In [66]:
df.groupby('P1LOGISTICNAME')['P1LOGISTICNAME'].value_counts()

P1LOGISTICNAME
Blue Dart      44
Delhivery     149
XpressBees     30
Name: count, dtype: int64

In [77]:
df.groupby('P1LOGISTICNAME').get_group('Delhivery').groupby('OrderStatus ')['OrderStatus '].value_counts()

OrderStatus
Closed on cancellation          15
Delivered                       86
QC PASS                         15
QC failed                        1
RTO_DELIVERED                   18
Refund closed                    4
Refund in process                1
Return Cancelled By Customer     2
Return Delivered to Seller       7
Name: count, dtype: int64

In [73]:
df.groupby('P1LOGISTICNAME').get_group('Blue Dart').groupby('OrderStatus ')['OrderStatus '].value_counts()

OrderStatus
Closed on cancellation     3
Delivered                 33
Order cancelled            2
QC PASS                    5
RTO_DELIVERED              1
Name: count, dtype: int64

In [74]:
df.groupby('P1LOGISTICNAME').get_group('XpressBees').groupby('OrderStatus ')['OrderStatus '].value_counts()

OrderStatus
Closed on cancellation         1
Delivered                     19
QC PASS                        5
RTO_QC_PASS                    1
Refund in process              2
Return Delivered to Seller     2
Name: count, dtype: int64

In [79]:
for group,data in df.groupby('P1LOGISTICNAME'):
  print(data['Price'].max())

1058
1073
1073

In [119]:
test_df = df.groupby('OrderStatus ')
df3 = test_df.size()
df3 = df3.to_frame()
df3.reset_index()

                    OrderStatus     0
0         Closed on cancellation   19
1                      Delivered  138
2                Order cancelled    2
3                        QC PASS   25
4                      QC failed    1
5                  RTO_DELIVERED   19
6                    RTO_QC_PASS    1
7                  Refund closed    4
8              Refund in process    3
9   Return Cancelled By Customer    2
10    Return Delivered to Seller    9

In [110]:
l1 = []
for i in range(len(df3)):
    l1.append(round((df3[i]/223)*100,2))
l1

[8.52, 61.88, 0.9, 11.21, 0.45, 8.52, 0.45, 1.79, 1.35, 0.9, 4.04]

In [124]:
df4 = pd.DataFrame(l1, columns=['Percent'])
df4

    Percent
0      8.52
1     61.88
2      0.90
3     11.21
4      0.45
5      8.52
6      0.45
7      1.79
8      1.35
9      0.90
10     4.04

In [126]:
new_df = pd.concat([df3.reset_index(),df4], axis=1)
new_df

                    OrderStatus     0  Percent
0         Closed on cancellation   19     8.52
1                      Delivered  138    61.88
2                Order cancelled    2     0.90
3                        QC PASS   25    11.21
4                      QC failed    1     0.45
5                  RTO_DELIVERED   19     8.52
6                    RTO_QC_PASS    1     0.45
7                  Refund closed    4     1.79
8              Refund in process    3     1.35
9   Return Cancelled By Customer    2     0.90
10    Return Delivered to Seller    9     4.04

In [7]:
df.groupby('IsCOD')['IsCOD'].count()

IsCOD
No      97
Yes    126
Name: IsCOD, dtype: int64

In [17]:
df.value_counts('ShippingCharge')

ShippingCharge
0     149
29     26
49     26
15      9
10      6
69      2
1       1
2       1
3       1
4       1
5       1
Name: count, dtype: int64

In [16]:
df['ShippingCharge'].max()

69

In [18]:
df['ShippingCharge'].min()

0

In [19]:
df['ShippingCharge'].mean()

10.654708520179373

In [20]:
df['ShippingCharge'].describe()

count    223.000000
mean      10.654709
std       17.905962
min        0.000000
25%        0.000000
50%        0.000000
75%       15.000000
max       69.000000
Name: ShippingCharge, dtype: float64